<div class="row">

    <div class="col-md-12">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="list-group">

            <a href="@Url.Action("Index")" class="list-group-item active">
                Add New
                <span class="pull-right" aria-hidden="true">
                    <i class="glyphicon glyphicon-plus"></i>

                </span>

            </a>
            <a href="@Url.Action("Index")" class="list-group-item">
                All Contact
                <span class="badge">0</span>
            </a>
            <a href="@Url.Action("Index")" class="list-group-item">
                Favourite
                <span class="pull-right" aria-hidden="true">
                    <i class="glyphicon glyphicon-heart"></i>
                </span>
            </a>
        </div>
    </div>
